.header-container {
  /* margin: 2%; */
  border-bottom: 2px solid#fb8c00;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.nav-components {
  display: flex;
  justify-content: flex-start;
  background-color: #fb8c00;
  padding-right: 20px;
}

.nav-link {
  text-decoration: none;
  /* border-left: 2px solid #fb8c00; */
  padding: 0px 8px;
  text-align: center;
  color: black;
}

.nav-link:hover {
  background-color: white;
}

.header-div {
  display: flex;
  flex-wrap: nowrap;
  height: 100px;
  margin-top: 120px;
  /* margin: 20px; */
  justify-content: space-between;
  background-color: white;
}


.header-title {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
}



.header-logo {
  align-self: center;
  justify-self:stretch;
  height: 50px;
  widows: 50px;
  /* margin-left: 8px; */
  /* border: 2px solid #fb8c00 */
}


.header-title-text {
  align-self: center;
  margin-left: 8px;
}




.header-item {
  margin: 4px;
  font-size: 1rem;
}


.body-container {
  margin: 0% 10%;
}

.form-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 10px 30px; */
}

.form-title {
  border-bottom: 2px solid#fb8c00;

}

.form-input-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.app-form {
  width: 300px;
  border: 1px solid #fb8c00;
}
.app-form-button {
  margin-left: 4px;
  width: 80px;
  background-color:white;
  border: 1px solid #fb8c00;
}

.app-form-button:hover {
  background-color: #fb8c00;
}

.card-container {
  margin: 10px 30px;
}

.card-rows {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.card-columns {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}



.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* text-align: center; */
  /* border: 2px solid black; */
  min-height: 40px;
  padding: 8px;
  /* margin: 50px 50px; */
}

.card:hover {
  /* translate: 8px 0px; */
  /* border-bottom: 2px solid #fb8c00; */
  /* background-color: #fb8c00; */
}

.card-vert {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 500px;
  /* background-color:#fb8c00; */
  border: 8px solid #fb8c00;
  /* margin: 50px 50px; */
  padding: 8px;
}

.card-vert:hover {
  background-color: #fb8c00;
}

.video {
  /* text-align: center; */
  width: 600px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* display: inline; */
}

.body-header-title {
  border-bottom: 2px solid#fb8c00;
}

.footer-container {
  /* margin: 2%; */
  border-top: 2px solid#fb8c00;
  margin: 200px 2% 0px 2%;
  text-align: center;
}

.footer-icon {
  font-size: 24px;
  margin: 12px 8px;
}

.game-logo {
  font-size: 68px;
}


@media only screen and (max-width: 768px) {
  .card-columns {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .video {
    /* text-align: center; */
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* display: inline; */
  }

  .nav-components {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    border-bottom: none;
    border-top: none;
    /* padding-right: 20px; */
  }

  .nav-link {
    text-decoration: none;
    border-bottom: 2px solid #fb8c00;
    border-left: none;
    padding: 0px 8px;
    /* text-align: center; */
    color: black;
  }

  .nav-link:hover {
    background-color:white;
  }

}

